/* Keyframes */

@keyframes blink-critical {
	to {
		/*color: @white;*/
		background-color: @critical;
	}
}


/* Styles */
/* Winter colors */
@define-color black #060D06;
@define-color green #35483B;
@define-color darkgray #5F6860;
@define-color gray #B9C1BE;
@define-color white #FAFBFB;

@define-color warning 	@gray;
@define-color critical	@green;
@define-color mode	@white;
@define-color focused	@green;
@define-color inactive	@white;
@define-color sound	@darkgray;
@define-color network	@darkgray;
@define-color memory	@darkgray;
@define-color cpu	@darkgray;
@define-color temp	@gray;
@define-color layout	@gray;
@define-color battery	@darkgray;
@define-color date	@white;
@define-color time	@white;

/* Reset all styles */
* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
	box-shadow: none;
	text-shadow: none;
}

/* The whole bar */
#waybar {
	background: transparent; /* #282828e0 */
	color: @white;
	font-family: Source Code Pro Mono, JetBrains Mono, Siji;
	font-size: 14pt;
	/*font-weight: bold;*/
}

/* Each module */
#battery,
#clock,
/*#cpu,*/
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#custom-alsa,
#sndio,
#tray {
	padding-left: 8pt;
	padding-right: 8pt;
}

/* Each critical module */
#mode,
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical.discharging {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-name: blink-critical;
	animation-duration: 1s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning.discharging {
	color: @white;
}

/* And now modules themselves in their respective order */

/* Current sway mode (resize etc) */
#mode {
	color: @black;
	background: @mode;
}

/* Workspaces stuff */
#workspaces button {
	/*font-weight: bold;*/
	padding-left: 6pt;
	padding-right: 6pt;
    margin-left: 3pt;
    margin-right: 3pt;
    margin-top: 3pt;
	color: @black;
	background: @gray;
    border-radius: 3pt;
}

/* Inactive (on unfocused output) */
#workspaces button.visible {
	color: @white;
	background: @black;
}

/* Active (on focused output) */
#workspaces button.focused {
	color: @white;
	background: @green;
}

/* Contains an urgent window */
#workspaces button.urgent {
	color: @black;
	background: @warning;
}

/* Style when cursor is on the button */
#workspaces button:hover {
	background: @white;
	color: @black;
}

#window {
	margin-right: 3pt;
	margin-left: 3pt;
    margin-top: 3pt;
    padding-left: 5pt;
    padding-right: 5pt;
    background: @green;
    border-radius: 3pt;
    font-size: 12pt;
}

#custom-alsa,
#pulseaudio,
#sndio {
	background: @sound;
	color: @white;
    margin-right: 3pt;
    margin-top: 3pt;
    margin-left: 3pt;
    border-radius: 3pt;
}

#network {
	background: @network;
	color: @white;
    margin-right: 3pt;
    margin-top: 3pt;
    margin-left: 3pt;
    border-radius: 3pt;
}

#memory {
	background: @memory;
	color: @white;
    margin-right: 3pt;
    margin-top: 3pt;
    margin-left: 3pt;
    border-radius: 3pt;
}

/*
#cpu {
	background: @cpu;
	color: @white;
    margin-right: 3pt;
    margin-top: 3pt;
    margin-left: 3pt;
    border-radius: 3pt;
}
*/
#temperature {
	background: @temp;
	color: @black;
    margin-right: 3pt;
    margin-top: 3pt;
    margin-left: 3pt;
    border-radius: 3pt;
}

/*#language {
	background: @layout;
	color: @black;
} 
*/

#battery {
	background: @battery;
	color: @black;
    margin-right: 3pt;
    margin-top: 3pt;
    margin-left: 3pt;
    border-radius: 3pt;
}

#tray {
	background: @white;
}

#clock.date {
	background: @date;
	color: @black;
    margin-right: 3pt;
    margin-top: 3pt;
    margin-left: 3pt;
    border-radius: 3pt;
}

#clock.time {
	background: @time;
	color: @black;
    margin-right: 3pt;
    margin-top: 3pt;
    margin-left: 3pt;
    border-radius: 3pt;
}


