$base: #191724;
$surface: #1f1d2e;
$overlay: #393552;
$text: #e0def4;
$love: #eb6f92;
$foam: #9ccfd8;
$muted: #6e6a86;
$gold: #f6c177;
$pine: #31748f;
$rose: #ebbcba;
$iris: #c4a7e7;
$hl-high: #524f67;
$hl-low: #21202e;
$text: #e0def4;

* { 
    all: unset;
}

.bar-box {
    background: rgba($overlay, 1.0);
    border-radius: 5rem;
}

.left-box {
    font-size: 1.6rem;
    color: rgba($foam, 1.0);
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.25rem;
}

.right-box {
    font-family: SF Mono Regular;
    font-size: 1.6rem;
    padding-top: 0.5rem;
    padding-bottom: 0.25rem;
    padding-right: 1rem;
}

.buttons_box {
    padding-right: .5rem;
    padding-left: 0.25rem;
    background: rgba($hl-low, 0.75);
    margin: 0.25rem;
    border-radius: 5rem;

}

.charging {
    background: rgba($gold, 1.0);
    font-size: 1rem;
    font-weight: bold;
    color: rgba($hl-high, 1.0);
}

.discharging {
    background: rgba($foam, 1.0);
    font-size: 1rem;
    font-weight: bold;
    color: rgba($hl-high, 1.0);

}

.radial-label-batt-charging {
    color: rgba($gold, 1.0);
}

.radial-label-batt-discharging {
    color: rgba($foam, 1.0);
}


.clock-btn {
    color: rgba($iris, 1.0);
    font-weight: bold;
}

.date-btn {
    color: rgba($rose, 1.0);
    font-weight: bold;
}

.wifi-btn {
    color: rgba($pine, 1.0);
    font-weight: bold;
}

.memory-btn {
    color: rgba($love, 1.0);
    font-family: SF Mono Regular;
    font-weight: bold;
    padding-left: .25rem;
}

.workspace {
    font-family: SF Mono Regular;
    font-weight: bold;
    color: rgba($foam, 1.0);
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    margin-left: 0.25em;
    background: rgba($hl-low, 0.6);
}
